@import url("https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap");

/* ============================
   DEFAULT VARIABLES (LIGHT MODE)
   ============================ */
:root {
  --body-bg: #ffffff;
  --body-color: #333333;
  --card-bg: #ffffff;
  --tag-border: #dcdcdc;
  --shadow-color: rgba(0, 0, 0, 0.1);
  --text-color: #000;

  --color1: #ff8a00;
  --color2: #e52e71;
}

/* ============================
   DARK MODE VARIABLES
   ============================ */
html[data-theme="dark"] {
  --body-bg: #17141d;
  --body-color: #7a7a8c;
  --card-bg: #17141d;
  --tag-border: #28242f;
  --shadow-color: #000;
  --text-color: #fff;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--body-bg);
  color: var(--text-color);
  font-family: "DM Mono", monospace;
}

a {
  text-decoration: none;
}

.card-list {
  display: flex;
  padding: 3rem;
  overflow-x: scroll;
}

html[dir="rtl"] .card-list {
  direction: rtl;
}

.card-list::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.card-list::-webkit-scrollbar-thumb {
  background: #201c29;
  border-radius: 10px;
  box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, 0.25),
    inset -2px -2px 2px rgba(0, 0, 0, 0.25);
}

.card-list::-webkit-scrollbar-track {
  background: linear-gradient(90deg, #201c29, #201c29);
}

.card {
  height: 350px;
  width: 400px;
  min-width: 250px;
  padding: 1.5rem;
  border-radius: 16px;
  background: var(--card-bg);
  box-shadow: -1rem 0 3rem var(--shadow-color);
  display: flex;
  flex-direction: column;
  transition: 0.2s;
  margin: 0;
  scroll-snap-align: start;
  position: relative;
}

html[dir="rtl"] .card {
  box-shadow: 1rem 0 3rem var(--shadow-color);
}

.card:hover {
  transform: translateY(-1rem);
}

.card:hover ~ .card {
  transform: translateX(130px);
}

html[dir="rtl"] .card:hover ~ .card {
  transform: translateX(-130px);
}

.card:not(:first-child) {
  margin-inline-start: -130px;
}

.card-header {
  margin-bottom: auto;
}

.card-header p {
  font-size: 14px;
  margin: 0 0 1rem;
  color: var(--body-color);
}

.card-header h2 {
  font-size: 20px;
  margin: 0.25rem 0 auto;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.card-header h2:hover {
  background: linear-gradient(90deg, var(--color1), var(--color2));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.card-author {
  position: relative;
  display: grid;
  grid-template-columns: 75px 1fr;
  align-items: center;
  margin: 3rem 0 0;
}

.author-avatar img {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  filter: grayscale(100%);
  margin: 16px 10px;
}

.half-circle {
  position: absolute;
  inset-inline-start: 0;
  inset-block-end: 0;
  width: 60px;
  height: 48px;
  fill: none;
  stroke: var(--color1);
  stroke-width: 8;
  stroke-linecap: round;
}

.author-name-prefix {
  font-weight: 700;
  color: var(--body-color);
}

.tags {
  margin: 1rem 0 2rem;
  padding: 0.5rem 0 1rem;
  line-height: 2;
}

.tags a {
  font-weight: 700;
  font-size: 0.66rem;
  color: var(--body-color);
  text-transform: uppercase;
  border: 3px solid var(--tag-border);
  border-radius: 2rem;
  padding: 0.2rem 0.85rem 0.25rem;
}

.tags a:hover {
  background: linear-gradient(90deg, var(--color1), var(--color2));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  border-color: var(--text-color);
}
